# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/
.mypy_cache/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Environment variables
.env

# MNE temporary files
*.fif~

# System files
Thumbs.db